

header {
    width: 100%;
    height: $headerHeight;
    display: flex;
    justify-content: center;
    .header_content {
        width: 100%;
        max-width: $maxWidth;
        display: flex;
        justify-content: space-between;
        .logo {
            width: 20%;
            height: 100%;
            background-color: burlywood;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav_bar {
            width: 60%;
            height: 100%;
            background-color: greenyellow;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .user_box {
            width: 20%;
            height: 100%;
            background-color: lightgreen;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}